.mainContainer{
    display: flex;
    flex-direction: row;
}
.chatsContainer{
    flex-grow: 1;
    text-align: center;
    background-color: rgb(223, 223, 223);
    min-height: 90vh;
    height: fit-content;
    width: 23vw;
}
.ProfileContainer{
    flex-grow: 4;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
}
.chatbox{
    background-color: rgb(245,245,245);
    border-radius: 7px;
    border: 2px solid black;
    /*
    border-left: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1em;
    font-size: 14px;
    height: 5em;
    padding-top: 10px;
    margin-left: 2em;
    margin-right: 2em;
}
.chatbox:hover{
    cursor: pointer;
    background-color: rgb(218, 218, 218);
}
.name{
    margin-left: 1em;
}
.last{
    margin-right: 1em;
    color: rgb(155, 155, 155);
    font-size: 13px;
    margin-top: 3vh;
}
.ProfileContainerLite{
    flex-grow: 4;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}
.flexed{
    position: relative;
    left: 7em;
    display: flex;
    flex-direction: column;
}
.changeProfilePic{
    border-radius: 7px;
    border: 2px solid black;
    height: 6vh;
    /*height: 7vh;*/
    padding-left: 10px;
    width: 100%;
    /*margin-left: 75px;*/
    color: white;
    align-self: center;
    margin-top: 2em;
    font-size: 14px;
    background-color: #ff0000;
}
.changeProfilePic:hover{
    background-color: rgb(255, 58, 58);
    cursor: pointer;
}
.chatTime{
    flex-grow: 4;
    width: 40vw;
}

.smallButton {
    /*background-color: #0076ff;*/
    border-radius: 7px;
    border: 2px solid black;
    height: 6vh;
    /*height: 7vh;*/
    padding-left: 10px;
    width: 47.5%;
    /*margin-left: 75px;*/
    color: white;
    align-self: center;
    margin-top: 2px;
    margin-top: 2em;
    font-size: 14px;
    background-color: #0076ff;
}

.smallButton:hover{
    background-color: #1c86ff;
    cursor: pointer;
}