.look{
    color: white;
    flex-grow: 2;
}
.look:hover{
    cursor: pointer;
    color: rgb(223, 223, 223)
}
.navbar{
    width: 100vw;
    background-color: rgb(117, 117, 255);
    display: flex;
    justify-content: space-between;
    height: 10vh;
    position: relative;
}
.Refriendler{
    flex-grow: 1;
}
.Refriendler:hover{
    cursor: pointer;
    color: rgb(214, 214, 214);
}
.hello{
    color: white;
    align-self: center;
    padding-right: 1vw;
    background-color: rgb(255, 0, 179);
    padding-left: 1vw;
}

.hello:hover {
    cursor: pointer; 
}